* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #1D1D1D;
    padding: 2rem 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.step {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
}

.step label {
    font-size: 1rem;
    line-height: 1.5;
    display: inline-block;
    margin-right: 0.5rem;
}

.step input[type="number"] {
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.step h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0F111A;
    border-radius: .25rem;
    margin-right: .5rem;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button:hover {
    background-color: #232526;
}

.button-black {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
}
.button-black:hover {
    background-color: #0056b3;
    color: #ffffff;
}

#tutorial {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

#tutorial:hover {
    background-color: #45a049;
}

#tutorial:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
