<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <title>CargOptimal Web - Modèles pré-entraînés disponibles</title>
</head>
<body>
    <header>
        <h1>CargOptimal Shopify</h1>
        <p>Modèles pré-entraînés disponibles au téléchargement</p>
    </header>
    <section class="container">
        <h2>Modèles disponibles</h2>
        <div class="model">
            <h3>Modèle Amazon</h3>
            <p>Pour une boutique générale </p>
            <p>Version non pertinante (en cours de formation) </p>
            <a href="{{ url_for('download_model', filename='Model_Amazon.pickle') }}">Télécharger le modèle 1</a>
        </div>
        <div class="model">
            <h3>Modèle Health & Wellness</h3>
            <p>Pour une boutique de Fitness</p>
            <p>Version non pertinante (en cours de formation) </p>
            <a href="{{ url_for('download_model', filename='Model_HealthWellness.pickle') }}">Télécharger le modèle 2</a>
        </div>
        <!-- Ajoutez ici d'autres modèles disponibles -->
    </section>
    <section class="container">
        <div class="step">
            <h2>Support et documentation</h2>
            <p>Consultez notre documentation et notre centre d'aide pour en savoir plus sur l'utilisation de l'application et obtenir un support technique.</p>
            <a href="/documentation">Accéder au support et à la documentation</a>
        </div>
    </section>
</body>
</html>
